<li>
	<p><%= link_to story.title, story.link %></p>
	<small>Current Upvotes: <%= story.upvotes %></small>
	|
	<small>Category: <%= story.categories %></small>
	|
	<small><%= link_to 'Comments', story %></small>
	|
	<small><%= link_to 'Delete Story', story, method: :delete, data: { confirm: 'Are you sure you want to delete this story?' } %></small>
</li>